<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <title>Udacity Travel App</title>
</head>
<body>
    <div class="page">
        <div class="header">
            <h1>Travel App</h1>
        </div>
        <form id="addDestination">
            <div class="field">
                <label for="city">City</label>
                <input id="city" type="text" placeholder="City">
            </div>
            <div class="field">
                <label for="date">Date</label>
                <input id="date" type="text" placeholder="Date">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>