<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <title>Udacity Travel App</title>
</head>
<body>
    <div class="page">
        <div class="header">
            <h1>Travel App</h1>
            <button id="clear">Clear</button>
        </div>
        <form id="addTrip">
            <div class="field">
                <label for="tripTitle">Trip Title</label>
                <input id="tripTitle" type="text" placeholder="Add your trip">
            </div>
            <button type="submit">Add trip</button>
        </form>
        <div id="trip-list"></div>
    </div>
</body>
</html>