<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700:900&display=swap" rel="stylesheet">
    <title>Udacity Travel App</title>
</head>
<body class="night">
    <div class="page">
        <header class="section section-header">
            <div class="section__overlay"></div>
            <div id="header-bg"class="section__background section__background--image home-background-image"></div>
            <div class="section__content">
                <h1 class="page-title">Travel App</h1>
                <div class="add-trip">
                    <form id="addTrip" class="trip-form">
                        <div class="field">
                            <label for="tripTitle">Add a trip</label>
                            <input id="tripTitle" type="text" placeholder="Add your trip">
                        </div>
                        <div class="field">
                            <label for="startDate">Start Date</label>
                            <input id="startDate" name="startDate" type="date">
                        </div>
                        <div class="field">
                            <label for="endDate">End Date</label>
                            <input id="endDate" name="endDate" type="date">
                        </div>
                        <button type="submit" class="submit button">Add trip</button>
                    </form>
                    <div class="form-error"></div>
                </div>
            </div>
        </header>    
        <section id="trip-list"></section>
    </div>
    
</body>
</html>