.destination {
    background: var(--color-primary-light);
    margin-bottom: 4px;

    &__title {
        line-height: 0;
    }
    &__info {
        display: none;
        overflow: hidden;
    }

    &__image {
        max-width: 200px;
    }
}