input, input[type=date] {
    border: 1px solid transparent;
    padding: 10px 12px;
    margin-right: 4px;
    font-size: 16px;
    line-height: 1.2;
}

input[type=date] {
    padding: 8px 12px;
    border: 1px solid transparent;
    margin-right: 4px;
}

.submit {
    // background: $color-primary;
    display: block;
    padding: 12px 24px;
    border: none;
}

label {
    padding: 4px 0px;
}

.field {
    display: flex;
    flex-direction: column;
}

.button {
    background: $color-primary;
    padding: 12px 34px;
    color: $color-text-light;
    border: 1px solid transparent;
}