html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 16px/22px Arial, sans-serif;
    color: var(--color-text);
}

p {
    font: 16px/22px Arial, sans-serif;
}

h1 {
    font: 48px/56px 'Work Sans', sans-serif;
}

h2 {
    font: 28px/30px 'Work Sans', sans-serif;
}

h3 {
    font: 26px/30px 'Work Sans', sans-serif;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}
#header {
    background-size: cover;
    height: 280px;
}
.add-trip {
    background: var(--color-primary-light);
}