html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: tint($color-shade, 90%);
    font: 16px/22px 'Roboto', sans-serif;
    font-weight: 400;
    color: $color-text;
}

.page {
    max-width: 1140px;
    margin: 0 auto;
}
header {
    padding: 180px 0;
}

.page-title {
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    color: $color-text-light;
}

.section {
    position: relative;
}
.section__background {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    margin-left: -50vw;
    height: 100%;
    z-index: 10;

    &--image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.section__content {
    position: relative;
    z-index: 50;
}
.section__overlay {
    background: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%);
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    margin-left: -50vw;
    height: 100%;
    z-index: 20;
    opacity: 0.3;
}
.home-background-image {
    filter: saturate(0%) brightness(80%);
}