html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: tint($color-shade, 70%);
    font: 16px/22px Arial, sans-serif;
    color: $color-text;
    overflow: hidden;
}

p {
    font: 16px/22px Arial, sans-serif;
}

h1 {
    font: 48px/56px 'Work Sans', sans-serif;
}

h2 {
    font: 24px/30px 'Work Sans', sans-serif;
}

h3 {
    font: 22px/30px 'Work Sans', sans-serif;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}
#header {
    background-size: cover;
    min-height: 280px;
    overflow: hidden;
    padding: 60px 0;
}
.page-title {
    text-align: center;
}
.add-trip {
    background: rgba($color-primary, 0.9);
    max-width: 600px;
    margin: 0 auto;
    color: $color-text-light;
}