#trip-list {
    padding: 60px;
}

.add-trip {
    background: tint($color-shade, 90%);
    max-width: 800px;
    margin: 0 auto;
    // color: $color-text-light;
}

.trip-form {
    padding: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.field__hidden {
    display: none;
}

.trip {
    background: tint($color-shade, 80%);
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;

    &__header {
        cursor: pointer;
        transition: all 0.3s ease-out;
        overflow: hidden;

        &.active {
            transition: all 0.3s ease-in;
        }
    }

    &__title {
        background: linear-gradient(90deg, tint($color-shade, 0%) 0%, tint($color-shade, 20%) 100%);
        padding: 24px 34px;
        margin: 0;
        overflow: hidden;
        color: $color-text-light;
        display: flex;
        justify-content: space-between;
    }

    &__details {
        padding: 12px;

        p {
            margin: 0;
        }
    }

    &__destinations {
        padding: 12px;
        display: none;
        transition: all 0.3s ease-out;

        &.active {
            display: block;
            transition: all 0.3s ease-in;
        }
    }
}