#trip-list {
    padding: 60px;
}

.add-trip {
    background: tint($color-shade, 90%);
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 0px 40px rgba(shade($color-shade, 60%), 0.6);
}

.trip-form {
    padding: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.field__hidden {
    display: none;
}

.trip {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;

    &__header {
        cursor: pointer;
        transition: all 0.3s ease-out;
        overflow: hidden;

        &.active {
            transition: all 0.3s ease-in;
        }
    }

    &__title {
        padding: 16px;
        margin: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid tint($color-shade, 30%);
    }

    &__details {
        padding: 12px;

        p {
            margin: 0;
        }
    }

    &__destinations {
        padding: 12px;
        display: none;
        transition: all 0.3s ease-out;

        &.active {
            display: block;
            transition: all 0.3s ease-in;
        }
    }
}