@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

$color-primary: #681d70;
$color-secondary: #f25a38;
$color-teriary: #f2ae2e;
$color-shade: #474747;

$color-text: shade($color-shade, 60%);
$color-text-light: #fffff8;